@import './bootstrap-min.css'
@import './cubing-icons.css'

html body 
	margin: 0px
	padding: 0px
	overflow-x: hidden
	
.avatar-thumbnail
	display: inline-block
	vertical-align: middle
	background-size: cover
	
.caret
	display: inline-block
	width: 0
	height: 0
	margin-left: 2px
	vertical-align: middle
	border-top: 4px dashed
	border-top: 4px solid \9
	border-right: 4px solid transparent
	border-left: 4px solid transparent
	
// tr:hover
// 	background-color: #dfdfdf

.navbar-static-top
	magin-bottom: 20px !important

#alerts
	margin-top: 5px
	
#timeline
	marginBottom: 0px
	height: 20px
	background-color: grey
	color: white

@media (min-width: 768px)
	.form-inline .form-group {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
	}
	
.form-group
	padding-right: 20px;
