@import './bootstrap-min.css'

html body 
	margin: 0px
	padding: 0px
	overflow-x: hidden
	
.avatar-thumbnail
	display: inline-block
	vertical-align: middle
	background-size: cover
	
.caret
	display: inline-block
	width: 0
	height: 0
	margin-left: 2px
	vertical-align: middle
	border-top: 4px dashed
	border-top: 4px solid \9
	border-right: 4px solid transparent
	border-left: 4px solid transparent
	
tr:hover
	background-color: #dfdfdf

.navbar-static-top
	magin-bottom: 20px !important
