@import './cubing-icons.css'
@import './team.styl'

html body
	height: 100%
	margin: 0px
	padding: 0px
	overflow-x: hidden

#wrap
	min-height: 100vh

#body
	padding-bottom: 100px

#footer
	position: relative
	margin-top: -100px
	height: 100px
	clear: both

body:before
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;

.eventSelect
	margin: 0

.search
	width: 400px
	display: inline-block
	
.avatar-thumbnail
	display: inline-block
	vertical-align: middle
	background-size: cover
	
.caret
	display: inline-block
	width: 0
	height: 0
	margin-left: 2px
	vertical-align: middle
	border-top: 4px dashed
	border-top: 4px solid \9
	border-right: 4px solid transparent
	border-left: 4px solid transparent
	
// tr:hover
// 	background-color: #dfdfdf

#alerts
	margin-top: 5px
	
#timeline
	marginBottom: 0px
	height: 20px
	background-color: grey
	color: white
